RewriteEngine on
RewriteBase /rental/

Header set Access-Control-Allow-Origin "*"
Options All -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?/$1 [L]
